{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global-style.css' %}">

</head>
<body>

<header>
    <form id="form">
        <h1>Com<span class="red">ics</span></h1>
        <label for="search"></label><input type="text" id="search" class="search" placeholder="Search"/>
    </form>
</header>

<main>
    <div class="container-universes">
        <button class="button">Marvel</button>
        <button class="button active">DC</button>
    </div>

</main>

<footer class="footer">
    <div class="footer__copy">
        <div class="footer__content">
            <div class="copy__text">
                © 2021 Jhon Alexis
            </div>
        </div>
    </div>
</footer>

</body>
</html>